*, ::after, ::before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	margin: 20px;
}

.sloupec {
	padding: 20px;
}

.hlavicka { background-color: #2ecc71; }
.hlavni   { background-color: #f1c40f; }
.levy     { background-color: #3498db; }
.pravy    { background-color: #e74c3c; }
.paticka  { background-color: #9b59b6; }

/* ------------- pod čáru přijdou tvé styly ------------- */

.kontejner {
	display: flex;
}

.hlavni {
	order: 2;
	flex-grow: 1;
}

.pravy {
	order: 3;
	width: 150px;
	flex-shrink: 0;
}

.levy {
	width: 200px;
	flex-shrink: 0;
}




